streamlit
python-dotenv
faiss-cpu
pymupdf
pypdf
torchvision
sentence-transformers
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-groq
